/* =Plugin CSS
-------------------------------------------------------------- */
.gvplugin {
	/* font-family: "Courier New"; */
}

/*
div.gvspendbutton  {
	padding: 5px;
	margin: 5px;
}
div.gvspendbutton input.gvxp_submit {
	float: none;
}
*/
.gvplugin hr {
    margin-bottom: 10px;
    margin-top: 20px;
	padding:1px;
	border: 1px solid #666666;
}

.vtm_warn {color:orange;}
.vtm_error {color:red;}
ul.vtm_warn {list-style: none;}
div.vtm_error {border: 2px solid red;}
div.vtm_error ul {list-style: none;}


/* =Page width settings
-------------------------------------------------------------- */
/* WIDE */

.vtmpage_wide td {
    font-size:1em;
	line-height: 1.6em;
}
.vtmpage_wide .vtmdot_5 img {
    height:1.6em;
	width:1.6em;
}
.vtmpage_wide .vtmdot_10 img {
    height:0.8em;
	width:0.8em;
}
.vtmpage_wide .vtmcol_spec {
	font-size:0.8em;
}
.vtmpage_wide  td.vtmdot_10.vtmdotwide img {
    height:1.9em;
    width:1.9em;
}

/* MEDIUM */
.vtmpage_medium td {
    font-size:0.9em;
	line-height: 1em;
}
.vtmpage_medium .vtmdot_5 img {
    height:1.2em;
	width:1.2em;
}
.vtmpage_medium .vtmdot_10 img {
    height:0.6em;
	width:0.6em;
}
.vtmpage_medium .vtmcol_spec {
	font-size:0.8em;
}
.vtmpage_medium  td.vtmdot_10.vtmdotwide img {
    height:1.5em;
    width:1.5em;
}

/* NARROW (1 COLUMN) */
.vtmpage_narrow td {
    font-size:1em;
	line-height: 1.6em;
}
.vtmpage_narrow .vtmdot_5 img {
    height:1.2em;
	width:1.2em;
}
.vtmpage_narrow .vtmdot_10 img {
    height:1.2em;
	width:1.2em;
}
.vtmpage_narrow .vtmcol_spec {
	font-size:0.8em;
}
.vtmpage_narrow  td.vtmdot_10.vtmdotwide img {
    height:2.5em;
    width:2.5em;
}

/* =Character Sheet
-------------------------------------------------------------- */
#csheet td {
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
}
#csheet h3 {text-align:center;}
#csheet h4 {text-align:center;}

#csheet td.vtmdotwide.vtmdot_10  {
	text-align:left;
}

#csheet td.vtm_colfull {width:auto;}
#csheet td.vtm_colwide {width:66%;}
#csheet td.vtm_colnarrow {width:33%;}

#csheet td.vtmcol_key {
	width: 33%;
}
#csheet .vtmcol_spec {
	border-bottom: 1px dashed #999999;
	text-align:center;
}
#csheet td.vtmdot_5 {
	text-align:center;
	width:40%;
}
#csheet td.vtmdot_10 {
	text-align:center;
	width:40%;
} 

#csheet td.vtmdot_10.vtmdotwide {
	text-align:left;
}


/*
div#csheet {
    float: left;
    width: 100%;
    display: block;
}

*/

/* = New/Edit Character Sheet
-------------------------------------------------------------- */
#vtmeditsheet table {
	width: auto;
}

/* =EXTENDED BACKGROUNDS
-------------------------------------------------------------- */

/* menu bar */
.vtmbgmenu {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px dotted;
}
.vtmbgmenu ul {
	list-style: none;
	z-index:1;
	padding:0;
	margin:0;
}
.vtmbgmenu li {
	float: left;
	position: relative;
}
.vtmbgmenu a {
	display: block;
	text-decoration: none;
	font-weight:bold;
	border-left: 2px solid;
	border-right: 2px solid;
	border-top: 2px solid;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
}
.vtmbgmenu .shown,.vtmbgmenu a:focus  {
    background-image: url('/wp-content/plugins/vtm-character/images/fill.jpg');
	color: inherit;
}
.vtmbgmain {
	clear: both;
}

/* misc */
.vtmext_name {
    font-weight:bold;
	font-size:1.1em;
	margin-top: 20px;
}
.vtmext_ques {
    font-style:italic;
}
.vtmext_section {
	border-radius:5px;
	border: 1px dotted;
	margin-left: 20px;
	padding: 5px;
}
.vtmext_section th {
	/* font-weight:bold; */
	text-align:left;
}
/*.vtmext_approved {
	color:green;
} */
.vtmext_denied {
	color:red;
}

/* PROFILE 
-------------------------------------------------------------- */
.gvprofile th.gvthhead {
    text-align: left;
    font-weight: bold;
    font-size: 1.8em !important;
}

.gvprofile .gvcol_1 {
    vertical-align:top;
}
.gvprofile .gvcol_key {
    font-weight: bold;
}

.gvprofile .gvcol_img img {
	width: 150px;
}

/* =XP Spend Page
-------------------------------------------------------------- */

#vtmid_xpst th {
    /* font-weight: bold;
    background-color: #222; */
    padding: 3px;
	margin: 5px 1px 0px 0px;
}
#vtmid_xpst td {
    font-size:0.9em;
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
	line-height: 1.2em;
}
/* column layout */
#vtmid_xpst .vtm_colfull {width:auto;}
#vtmid_xpst .vtm_colwide {width:50%;}
#vtmid_xpst .vtm_colnarrow {width:33%;}


#vtmid_xpst .vtmdot_5   img {
	height: 1.2em;
	width: 1.2em;
}
#vtmid_xpst .vtmdot_10 img {
	height: 0.6em;
	width: 0.6em;
}
#vtmid_xpst .vtmdot_1 img {
	height: 1.2em;
	width: 1.2em;
}
#vtmid_xpst .vtmdot_5   label {
	height: 1.2em;
	width: 1.2em;
}
#vtmid_xpst .vtmdot_10 label {
	height: 0.6em;
	width: 0.6em;
}
#vtmid_xpst .vtmdot_1 label {
	height: 1.2em;
	width: 1.2em;
}

#vtmid_xpst .vtmdot_10 {width:50%;}
#vtmid_xpst .vtmdot_5 {width:50%;}
/* #vtmid_xpst .vtmdot_1 {width:16px;} */

#vtmid_xpst .vtmxp_spec {
	border-bottom: 1px dashed red;
}
#vtmid_xpst .vtmxp_cost {
	font-size:0.7em;
}
#vtmid_xpst .vtmcol_key {
	width: 40%;
    padding: 0px 3px 0px 3px;
} 
#vtmid_xpst .vtmcol_key_wide {
    padding: 0px 3px 0px 3px;
} 
input[type="submit"].vtmxp_clear {
	/*margin: 0px 0px 2px 0px;*/
	margin: 0px;
	padding: 0px 1px 0px 1px;
	font-size: 0.9em;
}
#vtmid_xpst .vtmcol_error {
	background-color: #ff0000;
}

/* check box */
#vtmid_xpst .vtmdots > input {
	display: none;
}
#vtmid_xpst .vtmdots img {
	vertical-align:top;
}
#vtmid_xpst .vtmdots label {
    display:inline-block;
}

/*
#vtmid_xpst .vtmdot_5 > input[type="checkbox"] + label {width: 20%;}
#vtmid_xpst .vtmdot_10 > input[type="checkbox"] + label {width: 10%;}
#vtmid_xpst .vtmdot_1 > input[type="checkbox"] + label {width:16px;}
*/

#vtmid_xpst .vtmdots > input[type="checkbox"] + label {
    background:url('/wp-content/plugins/vtm-character/images/webbox.jpg') no-repeat 0 0;
	background-size: 100% auto;
}
#vtmid_xpst .vtmdots > input[type="checkbox"]:checked + label {
    background-image: url('/wp-content/plugins/vtm-character/images/check.jpg');
}
input[type="submit"].vtmxp_submit {
	float:right;
	/*margin: 5px;*/
}

/* =Feeding Map
-------------------------------------------------------------- */
#map-canvas { height: 100% }
#map-canvas img {max-width: none;}
table.feedingmapkey {width:auto;}
#feedingmap_status {display:none;}

/* =Character Generation
-------------------------------------------------------------- */
#chargen_form th {
    /*font-weight: bold;
    background-color: #222; */
    padding: 3px;
	margin: 5px 1px 0px 0px;
}
#chargen_form td {
    font-size:10pt;
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
}
#chargen-main {
	clear: both;
	padding-top: 10px;
}

/* FLOW */
#vtm-chargen-flow {
	clear: both;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
#chargen_form #vtm-chargen-flow ul {
	list-style: none;
	z-index:1;
}

#chargen_form #vtm-chargen-flow li.step-button {
	width: 75px;
	float: left;
	min-height: 60px;
	font-size:0.8em;
	padding-right:10px;
	padding-top:5px;
 	padding-bottom:5px;
    background-image: url('/wp-content/plugins/vtm-character/images/arrowright.jpg');
    background-repeat: no-repeat;
	background-size:10px 10px;
	background-position:right center;
}


#chargen_form #vtm-chargen-flow .step-button input[type="submit"] {
	min-height: 60px;
	padding:0px;
	border: none;
	white-space: normal;
	/*background: inherit;*/
	width: 75px;
	border: 2px solid;
	border-radius: 5px;
}
#chargen_form #vtm-chargen-flow .step-button span {
	display: block;
	min-height: 55px; 
	width: 70px;
	vertical-align:middle;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
}


/* DOTS */
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
#chargen-main td.vtmdot_5 {
	width:50%;
}
#chargen-main td.vtmdot_10 {
	width:76%;
	text-align:center;
}

#chargen-main .dotselect {
    float:left;
    white-space:nowrap;
}
#chargen-main .dotselect label.freedot {
    background-image: url('/wp-content/plugins/vtm-character/images/dot1full.jpg') !important;
}
#chargen-main .dotselect label.cleardot {
    background-image: url('/wp-content/plugins/vtm-character/images/crossclear.jpg') !important;
}
#chargen-main .dotselect img {
	width:14px;
}
#chargen-main .dotselect:not(:checked) > input {
	display: none;
}
#chargen-main .dotselect:not(:checked) > label {
    float:right;
    width:14px;
    height:14px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ddd;
    background-repeat:no-repeat;
    background-position:center; 
	background-size: 14px;
}
#chargen-main .dotselect:not(:checked) > img {
    float:right;
    width:14px;
    padding:0 .1em;
    line-height:1.2;
}
#chargen-main .dotselect:not(:checked) > label {
    background-image: url('/wp-content/plugins/vtm-character/images/dot1empty.jpg');
}

#chargen-main .dotselect > input:checked ~ label {
    background-image: url('/wp-content/plugins/vtm-character/images/dot2.jpg');
}

#chargen-main .dotselect:not(:checked) > label:hover,
#chargen-main .dotselect:not(:checked) > label:hover ~ label {
    background-image: url('/wp-content/plugins/vtm-character/images/dot2.jpg');
}
#chargen-main fieldset {
	padding: 0;
	margin: 0;
	border: none;
	
	/* no select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#chargen-main fieldset.dotselect label {
	padding: 0;
	margin: 0;
	border: none;
	vertical-align:top;
}

#chargen-main .dotselect > label:active {
    content: url('/wp-content/plugins/vtm-character/images/cg_selectdot.jpg');
}

/* Merits and Flaws */
#chargen-main .mfdotselect > input {
	display: none;
}
#chargen-main .mfdotselect > input[type="checkbox"] + div {
	display:block;
	padding: 1px;

	/* no select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chargen-main .mfdotselect > input[type="checkbox"]:checked + div {
    background-image: url('/wp-content/plugins/vtm-character/images/fill.jpg');
}

#chargen-main .mfdotselect > input[type="checkbox"]:checked + div label  {
    background-image: url('/wp-content/plugins/vtm-character/images/check.jpg');
}
#chargen-main .mfdotselect > input[type="checkbox"] + div label {
    /*display:inline-block;*/
    background:url('/wp-content/plugins/vtm-character/images/webbox.jpg') no-repeat 0 0;
	background-size:16px 16px;
}


#chargen-main .mfdotselect img {
	vertical-align:top;
	width: 16px;
}
#chargen-main .mfdotselect span {
	padding-left:17px;
}
#chargen-main .ritrowselect  label {
	padding-left:17px;
}
/* misc */
#chargen-main td.vtmcg_col {
	width: 33%;
}
