/* =Plugin CSS
-------------------------------------------------------------- */
.gvplugin {
	/* font-family: "Courier New"; */
}
div.gvspendbutton  {
	/* border: 1px dotted #666666; */
	padding: 5px;
	margin: 5px;
}
div.gvspendbutton input.gvxp_submit {
	float: none;
}

.vtm_warn {
	color:orange;
}
.vtm_error {
	color:red;
}
/* =Character Sheet
-------------------------------------------------------------- */
div#csheet {
    float: left;
    width: 100%;
    display: block;
	font-family: "Courier New";
}
	
#csheet h3 {
    text-align:center;
}
	
#csheet h4 {
    text-align:center;
}

#csheet .vtmhr hr {
    margin-bottom: 10px;
    margin-top: 20px;
	padding:1px;
	border: 1px solid #666666;
}
/* To remove */
#csheet .gvhr hr {
    color:red;
}

#csheet td {
    font-size:10pt;
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
	line-height: 1em;
}

/* column layout */
#csheet td.vtm_colfull {
	width:auto;
}
#csheet td.vtm_colwide {
	width:66%;
}
#csheet td.vtm_colnarrow {
	width:33%;
}

/* sub-tables */
#csheet td.vtmdot_5 {
	width:80px;
	text-align:center;
}
#csheet td.vtmdot_10 {
	width:80px;
	text-align:center;
}
#csheet .vtmcol_spec {
	border-bottom: 1px dashed #999999;
	font-size:8pt;
	text-align:center;
}
#csheet td.vtmcol_key {
	width: 33%;
}

/* Willpower */
#csheet td.vtmdotwide img {
   width:30px;
}

/* = New/Edit Character Sheet
-------------------------------------------------------------- */
#vtmeditsheet table {
	width: auto;
}

/* =EXTENDED BACKGROUNDS
-------------------------------------------------------------- */
.gvext_name {
    font-weight:bold;
	font-size:1.1em;
	padding-top:20px;
	margin-bottom: 0;
}
.gvext_ques {
    font-style:italic;
	margin-bottom: 0;
}
.gvext_section {
	background-color:#111;
	border-radius:5px;
	border: 1px solid #222;
	margin:10px 10px 10px 10px;
	padding:10px;
}
.gvext_section th {
	font-weight:bold;
	text-align:left;
}
.gvext_approved {
	color:green;
}
.gvext_denied {
	color:red;
}

.gvbgmenu {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding: 0px;
	
}
.gvbgmenu ul {
	list-style: none;
	z-index:1;
	margin: 0;
	padding: 0;
}
.gvbgmenu li {
	float: left;
	position: relative;
}
.gvbgmenu a {
	display: block;
	text-decoration: none;
	font-weight:bold;
	padding: 5px;
	border: 1px solid #666666;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.gvbgmenu li:hover > a,.gvbgmenu ul ul :hover > a,.gvbgmenu a:focus {
	/* background: #BB0506;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: -moz-linear-gradient(#770506, #BB0506);
	background: -o-linear-gradient(#770506, #BB0506);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#770506), to(#BB0506)); 
	background: -webkit-linear-gradient(#770506, #BB0506); */
}
.gvbgmenu  li:hover > a {
	background: #222;
}
.gvbgmenu  ul ul :hover > ul,.gvbgmenu ul li:hover > ul {	display: block;}
.gvbgmenu .shown,.gvbgmenu a:focus  {
	border-bottom: none;
}


/* =DOTS
-------------------------------------------------------------- */
.vtmdot_5 img {
    width:16px;
}
.vtmdot_10 img {
    width:8px;
}

/* PROFILE 
-------------------------------------------------------------- */
.gvprofile th.gvthhead {
    text-align: left;
    font-weight: bold;
    font-size: 1.8em !important;
}

.gvprofile .gvcol_1 {
    vertical-align:top;
}
.gvprofile .gvcol_key {
    font-weight: bold;
}

.gvprofile .gvcol_img img {
	width: 150px;
}

/* =XP Spend Page
-------------------------------------------------------------- */

#vtmid_xpst th {
    font-weight: bold;
    background-color: #222;
    padding: 3px;
	margin: 5px 1px 0px 0px;
}
#vtmid_xpst td {
    font-size:10pt;
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
	/*line-height: 1em; */
}
/* column layout */
#vtmid_xpst .vtm_colfull {
	width:auto;
}
#vtmid_xpst .vtm_colwide {
	width:50%;
}
#vtmid_xpst .vtm_colnarrow {
	width:33%;
}

#vtmid_xpst .vtmdot_5 img {
    width:16px;
}
#vtmid_xpst .vtmdot_10 img {
    width:16px;
}
#vtmid_xpst .vtmdot_1 img {
    width:16px;
}
#vtmid_xpst .vtmdot_10 {
    width:160px;
}
#vtmid_xpst .vtmdot_5 {
    width:160px;
}
#vtmid_xpst .vtmdot_1 {
    width:16px;
}
#vtmid_xpst .vtmxp_spec {
	border-bottom: 1px dashed red;
}
#vtmid_xpst .vtmxp_cost {
	font-size:0.7em;
}
#vtmid_xpst .vtmcol_key {
	width: 33%;
    padding: 0px 3px 0px 3px;
} 
#vtmid_xpst .vtmcol_key_wide {
    padding: 0px 3px 0px 3px;
} 
input[type="submit"].vtmxp_clear {
	/*margin: 0px 0px 2px 0px;*/
	margin: 0px;
	padding: 0px 2px 0px 2px;
	font-size: 0.9em;
}
#vtmid_xpst .vtmcol_error {
	background-color: #ff0000;
}

/* check box */
#vtmid_xpst .vtmdots > input {
	display: none;
}
#vtmid_xpst .vtmdots img {
	vertical-align:top;
}
#vtmid_xpst .vtmdots > input[type="checkbox"] + label {
    display:inline-block;
    background:url('/wp-content/plugins/gvlarp-character/images/webbox.jpg') no-repeat 0 0;
	background-size:16px 16px;
	width: 16px;
}
#vtmid_xpst .vtmdots > input[type="checkbox"]:checked + label {
    background-image: url('/wp-content/plugins/gvlarp-character/images/check.jpg');
}
input[type="submit"].vtmxp_submit {
	float:right;
	/*margin: 5px;*/
}

/* =Feeding Map
-------------------------------------------------------------- */
#map-canvas { height: 100% }
#map-canvas img {max-width: none;}
table.feedingmapkey {width:auto;}
#feedingmap_status {display:none;}

/* =Character Generation
-------------------------------------------------------------- */
#chargen_form th {
    font-weight: bold;
    background-color: #222;
    padding: 3px;
	margin: 5px 1px 0px 0px;
}
#chargen_form td {
    font-size:10pt;
    padding:1px;
	margin:0px;
	border:none;
	vertical-align:top;
	outline: 0;
}

/* FLOW */
#vtm-chargen-flow {
	clear: both;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
#chargen_form #vtm-chargen-flow ul {
	list-style: none;
	z-index:1;
}

#chargen_form #vtm-chargen-flow li.step-button {
	width: 75px;
	float: left;
	min-height: 60px;
	font-size:0.8em;
	padding-right:10px;
	padding-top:5px;
 	padding-bottom:5px;
    background-image: url('/wp-content/plugins/gvlarp-character/images/arrowright.jpg');
    background-repeat: no-repeat;
	background-size:10px 10px;
	background-position:right center;
}


#chargen_form #vtm-chargen-flow .step-button input[type="submit"] {
	min-height: 60px;
	padding:0px;
	border: none;
	white-space: normal;
	/*background: inherit;*/
	width: 75px;
	border: 2px solid;
	border-radius: 5px;
}
#chargen_form #vtm-chargen-flow .step-button span {
	display: block;
	min-height: 55px; 
	width: 70px;
	vertical-align:middle;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
}
#chargen-main {
	clear: both;
	padding-top: 10px;
}

/* DOTS */
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

#chargen-main .dotselect {
    float:left;
    white-space:nowrap;
}
#chargen-main .dotselect label.freedot {
    background-image: url('/wp-content/plugins/gvlarp-character/images/dot1full.jpg') !important;
}
#chargen-main .dotselect label.cleardot {
    background-image: url('/wp-content/plugins/gvlarp-character/images/crossclear.jpg') !important;
}
#chargen-main .dotselect img {
	width:14px;
}
#chargen-main .dotselect:not(:checked) > input {
	display: none;
}
#chargen-main .dotselect:not(:checked) > label {
    float:right;
    width:14px;
    height:14px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ddd;
    background-repeat:no-repeat;
    background-position:center; 
	background-size: 14px;
}
#chargen-main .dotselect:not(:checked) > img {
    float:right;
    width:14px;
    padding:0 .1em;
    line-height:1.2;
}
#chargen-main .dotselect:not(:checked) > label {
    background-image: url('/wp-content/plugins/gvlarp-character/images/dot1empty.jpg');
}

#chargen-main .dotselect > input:checked ~ label {
    background-image: url('/wp-content/plugins/gvlarp-character/images/dot2.jpg');
}

#chargen-main .dotselect:not(:checked) > label:hover,
#chargen-main .dotselect:not(:checked) > label:hover ~ label {
    background-image: url('/wp-content/plugins/gvlarp-character/images/dot2.jpg');
}
#chargen-main fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
#chargen-main fieldset.dotselect label {
	padding: 0;
	margin: 0;
	border: none;
	vertical-align:top;
}

#chargen-main .dotselect > label:active {
    content: url('/wp-content/plugins/gvlarp-character/images/cg_selectdot.jpg');
}

/* Merits and Flaws */
#chargen-main .mfdotselect > input {
	display: none;
}
#chargen-main .mfdotselect > input[type="checkbox"] + div {
	display:block;
	padding: 1px;
}

#chargen-main .mfdotselect > input[type="checkbox"]:checked + div {
    background-image: url('/wp-content/plugins/gvlarp-character/images/fill.jpg');
}

#chargen-main .mfdotselect > input[type="checkbox"]:checked + div label  {
    background-image: url('/wp-content/plugins/gvlarp-character/images/check.jpg');
}
#chargen-main .mfdotselect > input[type="checkbox"] + div label {
    /*display:inline-block;*/
    background:url('/wp-content/plugins/gvlarp-character/images/webbox.jpg') no-repeat 0 0;
	background-size:16px 16px;
}


#chargen-main .mfdotselect img {
	vertical-align:top;
}
#chargen-main .mfdotselect span {
	padding-left:17px;
}

/* misc */
#chargen-main td.vtmcg_col {
	width: 33%;
}

/*
#chargen-main .mfdotselect > img {
    width:12px;
    padding:0 .1em;
    line-height:1.2;
}
#chargen-main th {
    font-weight: bold;
    background-color: #222;
    padding: 3px;
	margin: 5px 1px 0px 0px;
}
#chargen-main .gvthleft {
    text-align: left;
    background-color: inherit;
    padding: 0px 3px 0px 3px;
	width: auto;
	font-size:0.9em;
}



.ritrowselect input[type="checkbox"]:checked + label  { 
	font-style: italic;
	background-color: #770506;
}
.ritrowselect input[type="checkbox"],
.ritrowselect img { 
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.ritrowselect label { 
	display: block;
	padding-left: 25px;
}
.ritrowselect img { 
	width:12px;
    padding:0 .1em;
    line-height:1.2;
}



#chargen-main #merit_freebie_table label {
	display: block;
	padding-left: 20px;
}

#chargen-main #merit_freebie_table td {
	padding-bottom: 0;
	padding-top: 0;
}

#chargen-main #merit_freebie_table input[type="checkbox"] { 
	float: left;
	margin-top: 5px;
}

#chargen-main #merit_freebie_table input[type="checkbox"]:checked + label { 
	font-style: italic;
	background-color: #770506;
}
#chargen-main #merit_xp_table label {
	display: block;
	padding-left: 20px;
}

#chargen-main #merit_xp_table td {
	padding-bottom: 0;
	padding-top: 0;
}

#chargen-main #merit_xp_table input[type="checkbox"] { 
	float: left;
	margin-top: 5px;
}

#chargen-main #merit_xp_table input[type="checkbox"]:checked + label { 
	font-style: italic;
	background-color: #770506;
}
*/
